---
---

@import "{{ site.theme }}";

.nav ul li:first-child{
  padding-left: none;
}


.my-li{
  display:inline-block;
  padding-left: 45px;
  padding-right: 45px;
}

.ul-left{
  margin-left: -35px;
}

.show{
  font-weight: 700;
  font-size: 20px;
}

.less-bottom{
  margin-bottom: -10px;
}

.ul-border{
  // border:4px solid black;
  border-radius: 4px;
}

.ul-shift{
  margin-left: -10px;
  width:100%;
}

.container-main{
  border: 1px solid black;
  background-color: rgb(230, 255, 240);
  padding-right: 10px;
  padding-left: 10px;

}

// a:link {
//     color: red;
    
// }

a:hover {
    color: darkgreen;
}


